@tailwind base;
@tailwind components;
@tailwind utilities;

/* Backgrounds */

.bg-questionnaire {
    @apply h-screen;
    background: linear-gradient(to bottom,
            #FFFFFF 2%,
            #E5F5AE 52%,
            #D3ACED 71%,
            #AB1BEC 100%);
}

.bg-startPage {
    @apply h-screen;
    background: linear-gradient(to bottom,
            #FFFFFF 26%,
            #E5F5AE 50%,
            #A6C153 100%);
}

.bg-categoryPage {
    @apply h-screen;
    background: linear-gradient(to bottom,
            #FFFFFF 5%,
            #E5F5AE 20%,
            #A6C153 100%);
}

.bg-finalPage {
    @apply h-screen;
    background: linear-gradient(to bottom,
            #FFFFFF 0%,
            #E5F5AE 26%,
            #D3ACED 78%,
            #AB1BEC 100%);
}

.bg-resultHigh {
    @apply h-screen;
    background: linear-gradient(to bottom,
            #FFFFFF 0%,
            #E5F5AE 26%,
            #D3ACED 85%,
            #AB1BEC 100%);
}

.bg-resultLow {
    @apply h-screen;
    background: linear-gradient(to bottom,
            #FFFFFF 0%,
            #E5F5AE 26%,
            #D3ACED 50%,
            #AB1BEC 100%);
}

.bg-actionButton {
    @apply bg-gradient-to-br from-[#623878] to-[#E3C4F9];
    background: linear-gradient(to bottom,
            #623878 0%,
            #AB1BEC 45%,
            #E3C4F9 87%);
}

.bg-image {
    @apply h-screen;
    background-image: url("./assets/background.png")
}

.glassmorph {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.glassmorph-blur {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.glassmorph-green {
    background: rgba(171, 255, 93, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    border-radius: 10px;
    border: 3px solid rgba(9, 255, 0, 0.4);
}

.glassmorph-red {
    background: rgba(255, 96, 96, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    border-radius: 10px;
    border: 3px solid rgba(255, 0, 0, 0.4);
}

/* Base style */
.styled-slider {
  appearance: none;
  width: 100%;
  height: 1rem;
  background: transparent;
  cursor: pointer;
  margin-top: 1rem;
}

/* Track: Chrome, Safari */
.styled-slider::-webkit-slider-runnable-track {
  height: 0.1rem;
  background-color: #ffffff; /* gray-300 */
  border-radius: 9999px;
}

/* Thumb: Chrome, Safari */
.styled-slider::-webkit-slider-thumb {
  appearance: none;
  height: 1.25rem; /* h-5 */
  width: 1.25rem;  /* w-5 */
  background-color: #ffffff; /* blue-500 */
  border-radius: 9999px;
  margin-top: -0.375rem; /* Align with track */
  
}

.styled-slider::-webkit-slider-thumb:hover {
  background-color: #ffffff; /* blue-600 */
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.212); /* blue-500 ring */
  transition: background 0.3s ease;
}

/* Track: Firefox */
.styled-slider::-moz-range-track {
  height: 0.1rem;
  background-color: #ffffff;
  border-radius: 9999px;
}

/* Thumb: Firefox */
.styled-slider::-moz-range-thumb {
  height: 1.25rem;
  width: 1.25rem;
  background-color: #ffffff;
  border-radius: 9999px;
  border: none;
}

.styled-slider::-moz-range-thumb:hover {
  background-color: #ffffff;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.212);
  transition: background 0.3s ease;
}

/* Layout */

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}